<footer class="footer">
  <small>
    My Social Network Application
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
    </ul>
  </nav>
</footer>